[user]
	name = Peter Marko
	email = 40757147+pmarko1711@users.noreply.github.com
[includeIf "gitdir:/Users/"]
    path = ~/.config/git/gitconfig-mac
[includeIf "gitdir:/home/"]
    path = ~/.config/git/gitconfig-linux
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[include]
    path = ~/.gitconfig.local
