*

# Ignore everything by default.
*

!.gitconfig
!.gitignore
#
.gitconfig.local

!.config/_shell/**
!.config/bash/**
!.config/zsh/**
!.config/install_bash.sh
!.config/install_zsh.sh
!.config/vim/**
!.config/oh-my-posh/**