[user]
	name = Peter Marko
	email = 40757147+pmarko1711@users.noreply.github.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
